<h2>Contact Us</h2>

<h4>QUESTIONS</h4>

<p>
Adulation, objections, questions, <br>
and other nouns:</p>
<p>
  superrentalsrep@superrentals.com
</p>



<h4>SUBMISSIONS</h4>

<p>Our editors welcome your submissions and pitches -- but please keep it under 2,000 words. Before sending, see our pitch guidelines here. If we like what we see, we'll be in touch!</p>

{{#link-to 'index'}}Home Page{{/link-to}}
{{#link-to 'submission'}}SUBMIT HERE>{{/link-to}}
