<h3>SUBMISSION</h3>

<p>Hi! Welcome to Bustle's submissions manager.</p>

<p>Bustle only accepts full drafts of stories that are a good potential fit for Bustle based on content we've run in the past. We ask that all contributors please be familiar both with Bustle's content and voice, as well as our pitch guidelines before submitting.</p>

<p>Please submit your piece to one of the categories below and be sure to read the submission details as they differ depending on the category. All submissions should include BOTH an attachment of your piece AS WELL AS your piece pasted into submission box.</p>

<p>We'll try to respond to all submissions within 3-4 weeks (and usually faster if it's a story tied to a breaking news event). Occasionally, response times may vary, but all submissions will receive a response.</p>

<p>PLEASE NOTE: We are not currently accepting entertainment pitches, personal essays, sex/relationships pitches, and other lifestyle features. We hope to open these categories up again soon so please keep checking back throughout the summer.</p>

<p>Thanks! We're looking forward to reading your work.
The Editors at Bustle
</p>

<p>SUBMISSION HERE... </p>

{{#link-to 'index'}}Home Page{{/link-to}}
